<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>74031474846-hd51hinfstb4qra13d1j1188i50ma587.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.74031474846-hd51hinfstb4qra13d1j1188i50ma587</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>74031474846-d18d10o8bfhlq493u0ovbbn397evqslr.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBzHlmzBwCBvx4KJFLNAOQGuvnSVDWr_as</string>
	<key>GCM_SENDER_ID</key>
	<string>74031474846</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sboh1214.newsapp.ios</string>
	<key>PROJECT_ID</key>
	<string>news-app-4d9d8</string>
	<key>STORAGE_BUCKET</key>
	<string>news-app-4d9d8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:74031474846:ios:dc7972af5e9b0a72a6338f</string>
	<key>DATABASE_URL</key>
	<string>https://news-app-4d9d8.firebaseio.com</string>
</dict>
</plist>